

<ion-content class="background-image">
  <ion-toolbar color="none">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <img src="../../../assets/logos/vacaTrasparente.png" width="50" height="50">
        </ion-col>
        <ion-col size="7">
          <p>Animal Checking Platform</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button slot="end" routerLink="/menu-principal">
      <ion-icon name="home"></ion-icon>
    </ion-button>

  </ion-toolbar>
  <ion-item color="none"><b>Seleccione una opción</b></ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button class="large-button" shape="round" expand="full" color="moradoanimal">
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/icon/nuevaVaca.png" width="50" height="50" style="border: solid 1px white;">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>Nuevo</b>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="large-button" shape="round" expand="full" color="azulanimal" routerLink="/animal">
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/icon/baston.png" width="50" height="50" style="border: solid 1px white;">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>Consultar</b>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="large-button" shape="round" expand="full" color="rojosanitario" routerLink="/evento-sanitario">
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/icon/sanitario.png" width="50" height="50" style="border: solid 1px white;">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <b>Evento</b>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-button>
      </ion-col>
     

    </ion-row>
   
   
  </ion-grid>

</ion-content>