.bordeH {
  border: 1px solid hsl(0, 0%, 100%);
  background-color: #006e5e;
  color: white;
}

.borde {
  border: 1px solid #6168e0;
  background-color: white;
  color: green;
}
.input{
  border: 1px solid black;
}

.inputBlanca{
  border: 1px solid white;
  margin-left: 2%;
}

.background-image {
  --background: url(../../../assets/img/fondoDegra2.png) 0 0/100% 100% no-repeat;
}

.background-transparent {
  --background-color: transparent;
}

.backgroundLote{
  background-color: #00b467;
}

#map {
  height: 400px;
  width: 95%;
  margin: 5px;
  border: 1px solid black;
}
